<header class="page-header">
  <div class="page-header__container container">
    <!-- Site Navigation -->
    <nav class="page-header__nav" aria-label="Main navigation">
      <!-- Site Logo -->
      {{> components/logo/logo }}

      <!-- Mobile Menu -->
      {{> components/mobile-menu/mobile-menu }}

      <!-- Site Navigation List-->
      {{> components/site-nav/site-nav }}

      <!-- Site Contacts -->
      {{> components/site-contacts/site-contacts }}
    </nav>
  </div>
</header>
