*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0; /* Remove the margin in all browsers. */
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

button {
  padding: 0;
  margin: 0;
  border: none;

  font: inherit;
  color: inherit;
  text-align: inherit;

  background: transparent;
  appearance: none;
}

input {
  margin: 0;
  border: none;

  font: inherit;
  color: inherit;

  background: transparent;
  appearance: none;
}

label {
  cursor: pointer;
}
