<ul>
  <li><a href="">Home Page</a></li>
  <li><a href="competitions/">Competitions</a></li>
  <li><a href="athletes/">Athletes</a></li>
  <li><a href="news/">News</a></li>
  <li><a href="gallery/">Gallery</a></li>
  <li><a href="contacts/">Contacts</a></li>
</ul>
