<ul class="site-contacts {{class}}">
  <li>
    <a class="site-contacts__link" href="tel:+994124937060">
      <svg class="site-contacts__icon" width="16" height="16">
        <use href="assets/icons/sprite.svg#icon-ui-mobile"></use>
      </svg>
      <span>(+994) 12 493 70 60</span>
    </a>
  </li>
  <li>
    <a class="site-contacts__link" href="mailto:info@aze-shooting.org">
      <svg class="site-contacts__icon" width="16" height="16">
        <use href="assets/icons/sprite.svg#icon-ui-email"></use>
      </svg>
      <span>info@aze-shooting.org</span>
    </a>
  </li>
</ul>
