<!-- Site Nav -->
<ul class="site-nav">
  <li class="site-nav__item">
    <a class="site-nav__link" href="competitions/">Competitions</a>
  </li>
  <li class="site-nav__item">
    <a class="site-nav__link" href="disciplines/">Disciplines</a>
    <ul class="site-nav__dropdown">
      <li class="site-nav__dropdown-item">
        <a class="site-nav__dropdown-link" href="disciplines/pistol/">Pistol</a>
      </li>
      <li class="site-nav__dropdown-item">
        <a class="site-nav__dropdown-link" href="disciplines/rifle/">Rifle</a>
      </li>
      <li class="site-nav__dropdown-item">
        <a class="site-nav__dropdown-link" href="disciplines/trap/">Trap</a>
      </li>
      <li class="site-nav__dropdown-item">
        <a class="site-nav__dropdown-link" href="disciplines/skeet/">Skeet</a>
      </li>
    </ul>
  </li>
  <li class="site-nav__item">
    <a class="site-nav__link" href="athletes/">Athletes</a>
  </li>
  <li class="site-nav__item">
    <a class="site-nav__link" href="news/">News</a>
  </li>
  <li class="site-nav__item">
    <a class="site-nav__link" href="gallery/">Gallery</a>
  </li>
  <li class="site-nav__item">
    <a class="site-nav__link" href="contacts/">Contacts</a>
  </li>
</ul>
