/* 100 - Thin */
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/woff2/Roboto-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/woff2/Roboto-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* 200 - Extra Light */
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/woff2/Roboto-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/woff2/Roboto-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* 300 - Light */
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/woff2/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/woff2/Roboto-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* 400 - Regular */
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/woff2/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/woff2/Roboto-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* 500 - Medium */
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/woff2/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/woff2/Roboto-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* 700 - Semi Bold */
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/woff2/Roboto-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/woff2/Roboto-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* 700 - Bold */
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/woff2/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/woff2/Roboto-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* 800 - Extra Bold */
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/woff2/Roboto-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/woff2/Roboto-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* 900 - Black */
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/woff2/Roboto-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/woff2/Roboto-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
