{{! Modal }}
<div class="modal" role="dialog" aria-modal="true">
  {{! Modal Close Button }}
  <button type="button" class="modal__close-btn" data-modal-close aria-label="Modal close button">
    <svg class="modal__close-icon" width="16" height="16">
      <use href="assets/icons/sprite.svg#icon-ui-close"></use>
    </svg>
  </button>

  {{! Modal Content  }}
  <div class="modal__content" data-modal-content></div>
</div>
