<!-- Site Logo -->
<a class="logo {{class}}" href="" aria-label="Shooting Sports Home">
  <svg class="logo__image" width="48" height="48">
    <use href="assets/icons/sprite.svg#icon-logo-asf"></use>
  </svg>
  <span class="logo__text">Shooting<br />Sports</span>
</a>
