.backdrop {
  position: fixed;
  inset: 0;
  z-index: var(--z-overlay);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--space-lg); // 🔥 важливо

  background-color: var(--color-bg-overlay-dark-40);

  opacity: 0;
  pointer-events: none;

  transition: opacity var(--duration-normal) var(--timing-cubic);

  body.modal-open & {
    opacity: 1;
    pointer-events: all;
  }
}
